<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Shifts</title>

    <style>
        body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    box-sizing: border-box;
    height: 100vh;
    background-attachment: fixed;
}
.container {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container form {
    width: 80%;
    height: 100%;
    margin: 5em auto;
}
.content {
    background-color: #293745;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}
.content h1 {
    font-size: 56px;
    font-weight: lighter;
    text-align: center;
}
.content label {
    width: 80%;
    margin: 0 auto;
    display: block;
}
label input {
    width: 50%;
    margin: 8em auto 2em auto;
    display: block;
    padding: 6px;
    border-radius: 4px;
    border: none;
    outline: none;
}
.container table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}
.container table tr td {
    border-bottom: 1px solid #fff;
    padding: 20px;
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #FDCE4B;
    color: #293745;
    cursor: pointer;
}
button:hover {
    border: 1px solid #fff;
}
.container table input {
    cursor: pointer;
}
    </style>
</head>
<body>
<div class="container">
    <form action="/waiter/{{username}}" method="POST">
        <div class="content">
            <h1>Moja Cafe'</h1>
            <label for="">
                <input type="text" name="username" placeholder="Please Enter Your Name" value="{{username}}">
            </label>
            <table>
                <tr>
                    <td><input type="checkbox" name="day" value="Monday">Monday</td>
                    <td><input type="checkbox" name="day" value="Tuesday">Tuesday</td>
                    <td><input type="checkbox" name="day" value="Wednesday">Wednesday</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="day" value="Thursday">Thursday</td>
                    <td><input type="checkbox" name="day" value="Friday">Friday</td>
                    <td><input type="checkbox" name="day" value="Saturday">Saturday</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="day" value="Sunday">Sunday</td>
                    <td colspan="2"><button type="submit">Submit</button></td>
                </tr>
            </table>
        </div>
    </form>
</div>
</body>
</html>