<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Individual Shift</title>
</head>
<body>
<div class="container">
    <form action="/waiter" method="get">
        <h1>{{name}}'s Shifts</h1>
<!--        <table>-->
<!--            <tr>-->
<!--                <td>Days Working</td>-->
<!--                <td>Shifts Working</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Tuesday</td>-->
<!--                <td>-->
<!--                    <span>06h00 - 14h00</span>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Wednesday</td>-->
<!--                <td>-->
<!--                    <span>06h00 - 14h00</span>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Friday</td>-->
<!--                <td>-->
<!--                    <span>14h00 - 20h00</span>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
        <table>
        <tr>
            {{#each waiterDetails}}
                <th>{{this.day}}</th>
                <td>{{this.name}}</td>
            </tr>
            {{/each}}
        </table>

        <button type="submit">Back</button>
    </form>

    <button type="submit">Update</button>
</div>
</body>
</html>