<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Individual Shift</title>
    <style>
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
        body{
           padding: 0;
           width: 500px;
           height: 500px;
           background-color: rgb(201, 202, 168);
           line-height: 1.6;
}
h2{
  text-decoration: underline;
  text-decoration-color: light dark;
  float: right
}
th{
 font-family: 'Tangerine', serif;
        font-size: 30px;
        text-shadow: 4px 4px 4px #aaa;
}
.styled-table {
    border:
    margin: 100px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 250px;
    border-radius: 4px:
}
td, th{
text-align: center;}
.styled-table thead tr {
    background-color: #042B3C;
    color: #FFFFFF;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #DDDDDD;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: 3F997B;
}
td {
    color: #042B3C;
    font-weight: bold;
}
.button{
  position:relative;
  padding:0;align-text: center;
  margin: 100px 0;
  width:150px;
  height:50px;
  margin-left: 540px;
  border:2px solid #888888;
  outline:none;
  background-color:#f4f5f6;
  border-radius: 10px;
  box-shadow:  -6px -20px 35px #FFFFFF, -6px -10px 15px #FFFFFF, -20px 0px 30px #FFFFFF, 6px 20px 25px rgba(0,0,0,0.2);
  transition: .13s ease-in-out;
  cursor:pointer;
  &:active{
    box-shadow:none;
    .button__content{
      box-shadow: none;
      .button__text, .button__icon{
        transform:translate3d(0px, 0px, 0px);
      }
    }
  }
  &__content{
    position:relative;
    display:grid;
    padding:20px;
    width:100%;
    height:100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    box-shadow:inset 0px -8px 0px #DDDDDD, 0px -8px 0px #F4F5F6;
    border-radius: 40px;
    transition: .13s ease-in-out;
    z-index:1;
  }
  &__icon{
    display:flex;
    transform:translate3d(0px, -4px, 0px);
    grid-column:4;
    align-self:start;
    justify-self:end;
    width:10px;
    height:10px;
    transition: .13s ease-in-out;
    svg{
      width:10px;
      height:10px;
      fill:#aaaaaa;
    }
  }
  &__text{
      position:relative;
      transform:translate3d(0px, -4px, 0px);
      margin:0;
      align-self:end;
      grid-column:1/5;
      grid-row:2;
      text-align:center;
      font-size: 28px;
      background-color: #888888;
      color: transparent;
      text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
      -webkit-background-clip: text;
         -moz-background-clip: text;
              background-clip: text;
      transition: .13s ease-in-out;
  }
}
.credits{
  margin-top:24px;
  &__reference{
      display:inline-block;
      border-bottom: 1px solid transparent;
      color:#0099ff;
      text-decoration:none;
      transition: ease-in .13s;
      &:hover{
         border-bottom-color: #0099FF;
      }
   }
}
.button:hover {
  color: #FFF;
  background-color:#042B3C;
  border-color:#042B3C ;
}

    </style>
</head>
<body>
<div class="container">
    <form action="/waiter" method="get">
        <h1>{{name}}'s Shifts</h1>
<!--        <table class="styled-table" style="margin-bottom: 13vh;">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Name</th>-->
<!--                <th>Days</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr>-->
<!--                <td>{{name}}</td>-->
<!--                <td>Tuesday</td>-->
<!--            </tr>-->
<!--            <tr class="active-row">-->
<!--                <td></td>-->
<!--                <td>Wednesday</td>-->
<!--            </tr>-->
<!--            <tr class="active-row">-->
<!--                <td></td>-->
<!--                <td>Friday</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
        <table>
        <tr>
            {{#each shift}}
                <th>{{day}}</th>
                <td>{{name}}</td>
            </tr>
            {{/each}}

        </table>
    </form>

</div>
</body>
</html>